.form-row {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}
input {
  display: inline-block;
  background-color: unset;
  width: 100%;
  font-size: 18px;
  line-height: 2.4em;
  border: none;
  border-bottom: 2px solid #fff9;
  padding: 0 10px;
}

::placeholder {
  color: #fff9;
  font-style: italic;
}
.forms {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.details {
  display: inline-block;
  border: none;
  width: 46%;
  border: none;
  border-bottom: 2px solid #ccc;
}
.details:first-child {
  margin-right: 20px;
}
textarea {
  width: 100%;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-top: 15px;
  padding: 0 7px;
}
.forms > ::placeholder {
  color: var(--color-grey);
  font-style: normal;
  font-size: 16px;
}
